:root{
    --primary-color: #033f5f;
    --second-color: #007cbc;
    --neutral-grey: #747e83;
    --neutral-light: #ffffff;
    --highlight-color: #f5ba36;

}


*{
    box-sizing: border-box;
    font-family: sans-serif;
}


.green {background-color: green;}
.blue {background-color: blue;}
.yellow {background-color: yellow;}
.purple {background-color: purple;}
.orange {background-color: orange;}

